<ul class="accordion">
  @for (item of items(); track item; let i = $index) {
    <li
      class="accordion__item"
      [class.accordion__item--active]="activeIndex === i">
      <a
        (click)="selectItem(i)"
        class="accordion__label"
        [class.accordion__label--active]="activeIndex === i">
        <span class="accordion__label-text">
          {{item.title()}}
        </span>
      </a>
      @if (activeIndex === i) {
        <ng-template [ngTemplateOutlet]="item.template()"></ng-template>
      }
    </li>
  }
</ul>
